<form action='/login' method='POST'>
    <input type='email' name='email' placeholder='Correo electrónico' required />
    <input type='password' name='password' placeholder='Contraseña' required />
    <button type='submit'>Iniciar sesión</button>
</form>