<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
    <h1>List of Products</h1>
    {{#each products}}
        <div>
            <h2>{{this.name}}</h2>
            <p>Price: {{this.price}}</p>
            <p>Category: {{this.category}}</p>
            <p>Description: {{this.description}}</p>
            <button>Add to Cart</button>
        </div>
    {{/each}}
</body>
</html>
